*
    padding: 0
    margin: 0
p
  text-align center
  line-height 100%
  letter-spacing: 2px
html
  padding 0
  margin 0
  height 100%
  width 100%
body
  font-family Verdana
  min-height 100vhease
  width 100vw
  @media screen and (max-width: 768px)
    height auto
    width auto
.fade-enter-active, .fade-leave-active
  transition opacity 0.5s
.fade-enter, .fade-leave-to
  opacity 0

.slide-fade-enter-active,.slide-fade-leave-active
  transition all 1s ease
.slide-fade-enter, .slide-fade-leave-to
  transform translateY(25%)
  opacity 0

.slide-fade-x-enter-active, .slide-fade-x-leave-active
  transition all 1.25s ease
.slide-fade-x-enter, .slide-fade-x-leave-to
  transform translateX(20%)
  opacity 0

.slide-fade-x-slow-enter-active, .slide-fade-x-slow-leave-active
  transition all 2s ease
.slide-fade-x-slow-enter, .slide-fade-x-slow-leave-to
  transform translateX(30%)
  opacity 0