// 颜色定义规范
$color-background-dark =rgb(43,36,77)
$color-backgroung-light = #ffffff
$color-shadow = rgb(255,213,159)
$color-shadow-grey = rgb(146,102,162)
$color-shadow-dark = rgb(28,30,31)
$color-font-forecast=rgb(57,67,122)
$color-svg-light = #ffffff

//字体定义规范
$font-size-small = 1em
$font-size-small-x = 1.5em
$font-size-medium = 1.5em
$font-size-medium-x = 20px
$font-size-large = 2em
$font-size-large-x = 6em