// 颜色定义规范
$color-background-dark =rgb(43,36,77)
$color-shadow = rgb(203,101,154)
$color-shadow-grey = rgb(146,102,162)
$color-svg-light = #ffffff

//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px