// 颜色定义规范
$color-background-dark =rgb(43,36,77)
$color-shadow = rgb(203,101,154)
$color-shadow-grey = rgb(146,102,162)
$color-shadow-dark = rgb(28,30,31)
$color-svg-light = #ffffff

//字体定义规范
$font-size-small = 1em
$font-size-medium = 1.5em
$font-size-medium-x = 20px
$font-size-large = 2em
$font-size-large-x = 6em